@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'pixel art';
    src: url('../fonts/pixel.ttf') format('truetype'),
    url('../fonts/pixel.otf') format('opentype'),
    url('../fonts/pixel.woff') format('woff'),
    url('../fonts/pixel.woff2') format('woff2');
}

body { font-family: 'pixel art';
    font-size: 16px;
}
