@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'pixel art';
    src : url('../fonts/slkscr.ttf') format('truetype');

}

* {
    font-family: 'pixel art', monospace;
}
